<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD + Python + Django</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div class="col-8 m-auto pt-4 pb-4 text-center">
    <h1>CRUD + Python + Django</h1>
  </div>

  <div class="col-8 m-auto pt-2 pb-4 text-center">
    <a href="/form" class="btn btn-success">Adicionar registro</a>
  </div>

  <div class="col-8 m-auto pt-4 pb-4 text-center">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Endereço</th>
          <th scope="col">CPF</th>
          <th scope="col">&nbsp</th>
        </tr>
      </thead>
      <tbody>
        {% for dbs in db %}
          <tr>
            <th>{{dbs.id}}</th>
            <td>{{dbs.nome}}</td>
            <td>{{dbs.telefone}}</td>
            <td>{{dbs.endereco}}</td>
            <td>{{dbs.cpf}}</td>
            <td>
              <a href="/view/{{dbs.id}}/" class="btn btn-dark">Visualizar</a>
              <a href="/edit/{{dbs.id}}/" class="btn btn-primary">Editar</a>
              <a href="/delete/{{dbs.id}}" class="btn btn-danger btnDel">Apagar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-8 m-auto pt-2 pb-4 text-center">
    <a href="{% url 'export-pdf' %}" class="btn btn-success">Emitir relatório</a>
  </div>

  <!-- JavaScript -->
  {% load static %}
  <script src="{% static 'javascript.js' %}"></script>
</body>

</html>